<div class="container">
    <h1>Registrar Venta</h1>
    <form>
      <div class="form-group">
        <label for="numero">Numero</label>
        <input type="text" class="form-control" id="numero" required
        [(ngModel)]="venta.numero" name="numero">
      </div>
  
      <div class="form-group">
        <label for="idcliente">Id Cliente</label>
        <input type="text" class="form-control" id="idcliente"
        [(ngModel)]="venta.idcliente" name="idcliente">
      </div>
  
      <div class="form-group">
        <label for="codigoproducto">Codigo Producto</label>
        <input type="text" class="form-control" id="codigoproducto"
        [(ngModel)]="venta.codigoproducto" name="codigoproducto">
      </div>

      <div class="form-group">
          <label for="cantidad">Cantidad</label>
          <input type="text" class="form-control" id="cantidad"
          [(ngModel)]="venta.cantidad" name="cantidad">
        </div>

        <div class="form-group">
            <label for="valortotal">Valor Total</label>
            <input type="text" class="form-control" id="valortotal"
            [(ngModel)]="venta.valortotal" name="valortotal">
          </div>
      
      <button type="button" class="btn btn-default" (click)="onSaveVenta()">Guardar</button>
      
    </form>
  </div>