<div class="container">
    <h1>Registrar Venta</h1>
    <form (ngSubmit)="onSubmit()" #ventaForm="ngForm">
      <div class="form-group">
        <label for="numero">Numero</label>
        <input type="text" class="form-control" id="numero" required
        [(ngModel)]="ventaC.numero" name="numero" placeholder="ingrese el número de venta">
      </div>
  
      <div class="form-group">
        <label for="cliente">Cliente</label>
        <select class="form-control"  id="cliente"
                required
                [(ngModel)]="clienteC.id" name="cliente">
          <option *ngFor="let cliente of ventaService.clienteVentaList" [value]="cliente.id" >{{cliente.nombre}}</option>
        </select>
      </div>
  
      <div class="form-group">
        <label for="producto">Producto</label>
        <select class="form-control"  id="producto"
                required
                [(ngModel)]="productoC.codigo" name="producto">
          <option *ngFor="let producto of ventaService.productoVentaList" [value]="producto.codigo">{{producto.nombre}}</option>
        </select>
      </div>

      <div class="form-group">
          <label for="cantidad">Cantidad</label>
          <input type="text" class="form-control" id="cantidad" required placeholder="Ingrese la Cantidad"
          [(ngModel)]="ventaC.cantidad" name="cantidad">
        </div>

        <div class="form-group">
            <label for="valortotal">Valor Total</label>
            <input type="text" class="form-control" id="valortotal" required placeholder="Ingrese el Valor Total"
            [(ngModel)]="ventaC.valortotal" name="valortotal">
        </div>

        
      <button type="button" class="btn btn-success" [disabled]="!ventaForm.form.valid" (click)="onSaveVenta()">Guardar</button>
      
    </form>
  </div>